*{
  overflow-y: hidden;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;

  &__title{
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 2rem;
    color: #F2A341;
  }

  &__title:hover{
    background: #F2A341;
    color: #FFF;
    padding: 10px;
    transition: all 0.5s ease;
    border-radius: 20px;
    cursor: pointer;
  }
}

.calendario{
  &__foto{ // Mesma coisa que calendario__foto
    width: 100%;
    border-radius: 20px;
    margin-bottom: -6rem;
  } 

  &__mes{
    font-size: 1.6rem;
    color: #65818C;
    margin-right: 1.5rem;
  }

  &__ano{
    font-size: 1.6rem;
    color: #F2B872;
  }

  &__dia-semana{
    color: #0D0D0D;
  }

  &__dia-semana:hover{
    background: #0D0D0D;
    color: #FFF;
    transition: 0.5s all ease;
    padding: 8px;
    cursor: pointer;
    border-radius: 20px;
  }

  &__dia{
    color: #593622;
  }

  &__dia:hover{
    background: #593622;
    color: #FFF;
    transition: 0.5s all ease;
    padding: 8px;
    cursor: pointer;
    border-radius: 20px;
  }
}