
  <ion-content [fullscreen]="true">
    <ion-row>
      <ion-col class="Left-Side" size="6">

      </ion-col>

      <ion-col class="Right-Side" size="6">
        <ion-label>Criar Conta!</ion-label>
        <ion-col class="Form" size="4">
          <ion-item>
            <ion-input label="Nome" placeholder=""></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-input label="Email" type="email" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Senha" type="password" value="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Confirmar Senha" type="password" value="password"></ion-input>
          </ion-item>

          <ion-button id="Btn-Criar">Criar Conta</ion-button> 

          <p>Login com</p>
          <ion-button id="Facebook">Facebook</ion-button> 
          <ion-button id="Twitter">Twitter</ion-button> 
          <ion-button id="Google">Google</ion-button> 
        </ion-col>
      </ion-col>
    </ion-row>

  </ion-content>
