*{
  background: #333a58;
  overflow-y: hidden;
}

.Visor{
  height: 32vh;
  font-size: 2em;
  text-align: center;
}

.Visor h1{
  margin-top: 20px;
}

.Input{
  width: 100%;
}

.Botoes{
  height: 68vh;
  text-align: center;
  color: #ff3764;
}

#Valor{
  font-size: 6.8em;
  text-align: end;
}

.Num{
  font-size: 2em;
  background: #3b3f5d;
  border: 2px solid #333a58;
}

.Operacao{
  font-size: 2em;
  background: #4e566e;
  border: 2px solid #333a58;
}

.Igual{
  font-size: 2em;
  background: #ff3764;
  color: #FFF;
  border: 2px solid #333a58;
}

ion-icon{
  background: none;
}