<ion-content [fullscreen]="true">
  <div class="Visor">
    <h1>Calculadora</h1>
  </div>


  <div class="Botoes">
    <h1 id="Valor">{{this.calc.num}}</h1>

    <h1 id="Historico">Histórico:</h1>

    <ion-row class="Primeira_linha">
      <ion-col size="3" id="C" class="Operacao" (click)="this.clear()">
        C
      </ion-col>
      <ion-col size="3" class="Operacao" (click)="this.operation('%')">
        %
      </ion-col>
      <ion-col size="3" class="Operacao" (click)="this.operation('/')">
        ÷
      </ion-col>
      <ion-col size="3" class="Operacao" (click)="this.operation('*')">
        X
      </ion-col>
    </ion-row>

    
    <ion-row class="Segunda_linha">
      <ion-col size="3" class="Num" (click)="this.addNum('7')">
        7
      </ion-col>
      <ion-col size="3" class="Num" (click)="this.addNum('8')">
        8
      </ion-col>
      <ion-col size="3" class="Num" (click)="this.addNum('9')">
        9
      </ion-col>
      <ion-col size="3" class="Operacao" (click)="this.operation('-')">
        -
      </ion-col>
    </ion-row>

      
    <ion-row class="Terceira_linha">
      <ion-col size="3" class="Num" (click)="this.addNum('4')">
        4
      </ion-col>
      <ion-col size="3" class="Num" (click)="this.addNum('5')">
        5
      </ion-col>
      <ion-col size="3" class="Num" (click)="this.addNum('6')">
        6
      </ion-col>
      <ion-col size="3" class="Operacao" (click)="this.operation('+')">
        +
      </ion-col>
    </ion-row>

    
    <ion-row class="Quarta_linha">
      <ion-col size="3" class="Num" (click)="this.addNum('1')">
        1
      </ion-col>
      <ion-col size="3" class="Num" (click)="this.addNum('2')">
        2
      </ion-col>
      <ion-col size="3" class="Num" (click)="this.addNum('3')">
        3
      </ion-col>
      <ion-col size="3" class="Operacao" (click)="this.rmvNum()">
        <ion-icon size="3" name="backspace-outline"></ion-icon>
      </ion-col>
    </ion-row>


    <ion-row class="Quinta_linha">
      <ion-col size="3" class="Num" (click)="this.addNum('0')">
        0
      </ion-col>
      <ion-col size="3" class="Num">
        .
      </ion-col>

      <ion-col size="3" class="Igual" (click)="this.eql()">
        =
      </ion-col>

      <ion-col size="3" class="Operacao" (click)="this.invNum()">
        +/-
      </ion-col>
    </ion-row>
  </div>

</ion-content>
