@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

*{
  background: #333a58;
  overflow-y: hidden;
}

.Visor{
  height: 30vh;
  font-size: 2em;
  text-align: center;
}

.Visor h1{
  margin-top: 20px;
  font-family: 'Nunito', sans-serif;
  color: #FFF;
}

#Valor{
  margin-bottom: 10px;
}

#Historico{
  text-align: start;
  font-size: 1.5em;
  margin-left: 10px;
}

.Botoes{
  height: 70vh;
  text-align: center;
  color: #ff3764;
}

#Valor{
  font-size: 6.8em;
  text-align: end;
}

.Num{
  font-size: 2em;
  background: #3b3f5d;
  border: 2px solid #333a58;
  border-radius: 20px;
}

.Num:hover, .Num:active{
  border: 2px solid #3b3f5d;
  background: #333a58;
  cursor: pointer;
  transition: 0.5s;
}

#C{
  color: #e07265;
}

.Operacao{
  font-size: 2em;
  background: #4e566e;
  border: 2px solid #333a58;
  border-radius: 20px;
}

.Operacao:hover, .Operacao:active{
  background: #333a58;
  border: 2px solid #4e566e;
  cursor: pointer;
  transition: 0.5s;
}

.Igual{
  font-size: 2em;
  background: #ff3764;
  color: #FFF;
  border: 2px solid #333a58;
  border-radius: 20px;
}

.Igual:hover{
  background: #333a58;
  border: 2px solid #ff3764;
  cursor: pointer;
  transition: 0.5s;
}

ion-icon{
  background: none;
}